@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #7d95b1;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

header{
    background-image: linear-gradient(to top, #2C445E, #267CDE,  #6BA3E3);
    min-height: 100px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.918);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
}

nav {
    background-color: #2C445E;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.534);

}

nav > a {
    font-weight: bold;
    color: #b4f5d1;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: #6BA3E3;
    color: #10355E;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    padding-bottom: 7px;
    box-shadow: 1px 1px 7px black;
    border-radius: 0px 0px 2px 2px;
}

main > p {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
    text-indent: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

article > h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.7em;
    padding-left: 5px;
}

article > h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3em;
    text-indent: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #4d75a0, #7aaee9, #afc7e2 );
}


article > p {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
    padding: 12px 13px;
    text-indent: 30px;
    line-height: 30px;
    text-align: justify;
}

article#memorias > p {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
    padding: 12px 13px;
    margin-bottom: 40px;
    text-indent: 30px;
    line-height: 30px;
    text-align: center;
}

article#memorias > h3 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.3em;
    padding-left: 5px;
    padding-bottom: 10px;
}

p > a {
    text-decoration: none;
    color:#0b2442;
    background-color: #3d7bc2;
    padding: 2px 2px;
    border-radius: 2px 2px;
    font-size: 0.9em;
}

p > a:hover {
    text-decoration: underline;
    color: #6BA3E3;
}

div#imagemcasal {
    display: block;
    background: url(../imagens/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 640px;
}

article#memorias > img {
    display: block;
    margin: auto;
    width: 500px;
    height: 700px;
}

article#memorias > img.largura {
    display: block;
    margin: auto;
    width: 450px;
    height: 650px;
}

article#memorias > img.junto {
    display: inline-block;
    width: 500px;
    height: 650px;
    float: right;
}

article#memorias > img.junto1 {
    display: inline-block;
    width: 500px;
    height: 650px;
    float: left;
}

iframe#mapa {
    display: block;
    float: left;
}

iframe#playlist {
    display: block;
    margin-bottom: 5px;
}

audio {
    display: block;
    margin: auto;
    padding: 10px;
}


article#lista {
    background-color: #89dada;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.178);
}

article#lista > ol {
    list-style-position: inside;
    columns: 2;
    column-gap: 50px;
}

article#lista > ol > li {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.1em;
    line-height: 30px;
    text-align: justify;
    text-indent: 10px;
}

article > ul {
    list-style-position: inside;
}

article > ul > li {
    list-style-type: "\2714\00A0\00A0";
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2em;
    line-height: 30px;
    text-align: justify;
    padding-bottom: 10px;
}

article > ul > div#myself {
    margin-top: 10px;
    margin-bottom: 30px;
    background: url(../imagens/eu.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
}

article > ul > div#scott {
    margin-top: 10px;
    margin-bottom: 30px;
    background: url(../imagens/motivo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
}

article > ul > div#raul {
    margin-top: 10px;
    margin-bottom: 30px;
    background: url(../imagens/motivo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
}

article > ul > div#casal {
    margin-top: 10px;
    margin-bottom: 30px;
    background: url(../imagens/motivo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
}

main > p#namoro {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    padding: 12px 13px;
    text-indent: 30px;
    line-height: 30px;
    text-align: center;
    background-image: linear-gradient(to right, #6786a8, #94bdec, #bbcee4 );
}

